#pre-auth {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

#pre-auth input {
  font-size: 20px;
  border: none;
  outline: 0;
  border-bottom: 3px solid #25a3ff;
  color: #333333;
  width: 260px;
  padding: 4px 0;
  cursor: text;
}

#submit {
  cursor: pointer;
  color: #25a3ff;
  margin-left: 15px;
  font-size: 24px;
}