.game-tile, .game-tile img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.game-tile.disabled {
  filter: grayscale();
}

#game-tiles {
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  margin-bottom: 20px;
}

.game-tile .thumbnail-container {
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: #173753;
  border: 1px solid black;
}

.game-tile {
  width: 150px;
  margin: 10px;
}

.game-tile:enabled {
  cursor: pointer;
}