.game-tile, .game-tile img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

#game-tiles {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.game-tile h3 {
  margin: 0;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  width: 130px;
}

.game-tile .thumbnail-container {
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: #173753;
  border: 1px solid black;
}

.game-tile {
  width: 150px;
}

.game-tile:enabled {
  cursor: pointer;
}