body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#25a3ff, #aabeff);
  background-attachment: fixed;
  font-family: sans-serif;
  min-width: 280px;
}

.page {
  padding: 30px 15px 0 15px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clickable, button:not(:disabled) {
  cursor: pointer;
}

section h2 {
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid grey;
}

section {
  box-shadow: 10px 10px 1px #173753;
  border: 3px solid #173753;
  background-color: #fafaff;
  border-radius: 10px;
  padding: 10px;
}

section:not(:last-of-type) {
  margin-bottom: 20px;
}