.page {
  padding: 30px 15px;
}

.clickable {
  cursor: pointer;
}

section h2 {
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid grey;
}

section {
  box-shadow: 10px 10px 1px #173753;
  border: 3px solid #173753;
  background-color: #fafaff;
  border-radius: 10px;
  padding: 10px;
}

section:not(:last-of-type) {
  margin-bottom: 20px;
}