.skull-container {
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (orientation:landscape) {
  .skull-container {
    width: 170vh;
    max-width: 100%;
  }
}
@media screen and (orientation:portrait) {
  .skull-container {
    width: 100%;
  }
}