#skull-container .player-tile {
  background-color: white;
  width: 45%;
  padding-top: 11%;
  border: 2px solid rgb(23, 55, 83);
  box-shadow: 5px 2px 1px #173753;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  box-sizing: border-box;

  &.primary {
    padding-top: 21%;
  }

  &.current-turn {
    background-color: #f7d1d1;
  }

  &.inactive {
    background-color: #aaaaaa;
  }

  @media only screen and (max-width: 650px) {
      position: relative;
      transform: none !important;
      width: 98% !important;
      padding-top: 24%;
      margin-bottom: 5px;

    &.primary {
      padding-top: 46%;
    }

    h3, .speech-bubble {
      font-size: 15px !important;
    }
  }

  .speech-bubble {
    text-align: center;
    width: 15%;
    height: 15%;
    position: absolute;
    transform: translate(315%, 60%);
    background: #00aabb;
    border-radius: 20%;
    padding: 4%;
  }

  &.primary .speech-bubble { 
    height: 8%;
  }

  .speech-bubble:after {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-top-color: #00aabb;
    border-bottom: 0;
    border-left: 0;
    margin-left: -30%;
    margin-bottom: -12%;
  }

  .player-tile-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h3 {
    margin: 5px;
    float: right;
  }

  .card {
    width: 22%;
    padding-top: 22%;
    position: absolute;
    border-radius: 100%;
  }

  .card * {
    border-radius: 100%;
  }

  .tile .tile-image {
    background-size: 540%;
  }

  .tile.blue .tile-image {
    background-image: url('../../../resources/skull/blue.png');
  }
  .tile.gold .tile-image {
    background-image: url('../../../resources/skull/gold.png');
  }
  .tile.green .tile-image {
    background-image: url('../../../resources/skull/green.png');
  }
  .tile.pink .tile-image {
    background-image: url('../../../resources/skull/pink.png');
  }
  .tile.purple .tile-image {
    background-image: url('../../../resources/skull/purple.png');
  }
  .tile.red .tile-image {
    background-image: url('../../../resources/skull/red.png');
  }

  .tile .card-back {
    background-position: 0 0;
  }

  .tile .flower {
    background-position: 25% 0 ;
  }

  .tile .skull {
    background-position: 50% 0;
  }

  .tile .base-front {
    background-position: 75% 0;
  }

  .tile .base-back {
    background-position: 100% 0;
  }

  .base-tile {
    width: 27%;
    padding-top: 27%;
    position: absolute;
  }

  .base-tile * {
    border-radius: 7%;
  }
}
