#Header a {
    text-decoration: none;
    color: white;
}

#Header {
    padding: 20px;
    background-color:gray;
    margin: auto;
    height: 30px;
}

#displayName {
  float: right;
  margin: 0;
}