#header {
  position: absolute;
  height: 20px;
  width: 100%;
  z-index: 99;
}

#header-buttons {
  float: right;
  color: white;
  margin: 2px;
  font-size: 22px;
}

#header-buttons > svg {
  margin: 0 10px;
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: top;
}