#header {
  position: absolute;
  height: 20px;
  width: 100%;
  z-index: 99;
}

#header-buttons {
  float: right;
  color: white;
  margin: 2px;
  font-size: 22px;
}

#header-buttons > * {
  margin: 0 10px;
}